/* Reset */

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

/* Main style */

:root{
   --background-color:#F5F4F1;
   --color-main:#363636;
   --color-secondary-transparent: hsla(160,34%,70%,0.5);
   --color-secondary: #518F7A;
   --color-tertiary: #C4C4C4;
   --margin-tiles: 200px;
}

body {
   background-image: radial-gradient(var(--color-tertiary) 5%, var(--background-color) 5%);
   background-attachment: fixed;
    background-position: 0 0;
    background-size: 35px 35px;
 }

a, a:visited{
   text-decoration: none;
   color: var(--color-main);
}

ul{list-style-type: none}

h1{font:700 35px'Quicksand', sans-serif;}

h2{font:700 35px'Quicksand', sans-serif;}

h3{
   font:700 28px'Quicksand', sans-serif;
   line-height: 0.95em;
}

h4{font:700 22px'Quicksand', sans-serif;}

p{font:300 18px'Quicksand', sans-serif;}

.hand-writing{font:300 18px'Caveat', cursive;}

/* Header */

header{
   background-color: var(--background-color);
   width:100%;
   height: 90px;
   padding-left: 2%;
   padding-right: 2%;
   position:fixed;
   display: flex;
   align-items: center; 
   border-bottom: 1px dotted;
   border-color: var(--color-tertiary);
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width:100%;
}

/* Header - Logo */

.navbar .logo{
   height: 45px; 
}

/* Header - Menu */

.navbar .menu{
   display: flex;
}

.navbar .menu a { 
   cursor:pointer;
   text-align:center; 
   height:100%;
   display: flex;
   align-items:center;
   padding:5px 20px;
   color: var( --color-main);
   font:700 22px'Quicksand', sans-serif;
   }

.navbar .menu a.current{
   color: var(--color-secondary);
}

.navbar .menu .current-box{
   position: relative;
   top:-5px;
   displaY:flex;
   margin:auto;
   width: 115px;
   height: 10px;
   background-color: var(--color-secondary-transparent);
}

/* Landing - main page */

section.landing{
   display:flex;
   justify-content: center;
   align-items: center;
   height:100vh;
   width:100%;
   padding-top:90px;
}

/* Landing - main page - email */

section.landing .email{
   writing-mode: vertical-lr; 
   transform: rotate(180deg);
   position: absolute;
   left: 2vh;
}

/* Landing - main page -welcome-container */

section.landing .welcome-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   margin-top:50px;
}

section.landing .welcome-box{
   background-color:var(--background-color);
   border: 1px solid var(--color-main);
   outline: solid 10px var(--color-secondary-transparent);
   outline-offset: 25px;
   padding:50px;
   padding-top: 60px;
   width:375px;
   height:375px;
   display:flex;
   flex-direction:column;
   align-items:center; 
}

section.landing .welcome-box .hello{
   font:400 50px 'Caveat', cursive;
   margin-bottom: 50px;
}

section.landing .welcome-container p.signature{
   margin-top: 40px;
   font:400 30px 'Caveat', cursive;
}

/* Banner */

.banner{
   width:100%;
   display:flex;
   justify-content: center;
   align-items: center;
}

.banner h1{
   padding: 0 70px; 
}

.banner h2{
   padding: 0 70px; 
}

.banner-line{
   height:1px;
   flex-grow:10;
   background-color:var(--color-main);
}

/* Projects - main page */

section.projects{
   display:flex;
   flex-direction:column;
   align-items: center;
}

.project-container{
   display:flex;
   margin-top:var(--margin-tiles);
}

.project .image-container{
   width:  500px;
   height: 500px;
   padding: 40px;
   background-color: var(--background-color);
   border: 1px solid var(--color-main);
   margin-right: 40px;
}

.project-container .description-container{
   display:flex;
   flex-direction:column;
   justify-content: space-between;
   width: 300px;
}

.project-container .description-container .txt-container{
   display:flex;
   flex-direction:column;
}

.project-container .description-container .underline{
   margin: 25px 0px 40px;
   height: 1px;
   background-color: var(--color-main);
   width: 100%;
}

.link-toproject{
   font:500 18px'Quicksand', sans-serif;
   text-align:right;
}

/* Projects - Photos - main page */

.image-container .phototile{
   background-size: cover;
   background-repeat: no-repeat;
   width:100%;
   height:100%;  
}

.image-container .phototile1{
   background-image: url(./images/1project/1tile.png);
}

.image-container .phototile2{
   background-image: url(./images/2project/2tile.png);
}

.image-container .phototile3{
   background-image: url(./images/3project/3tile.png);
}

.image-container .phototile4{
   background-image: url(./images/4others/4tile.jpg);
}

/* Others */

.banner-others{
   margin-top:var(--margin-tiles);
}

/* Footer */

footer{
   display:flex;
   justify-content:space-between;
   margin-top: var(--margin-tiles);
   height:200px;
   background-color: var(--background-color);
   border-top: 10px solid var(--color-secondary-transparent);
   outline: solid 1px var(--color-main);
   outline-offset: 15px;
}

.footer-container{
   display:flex;
   flex-direction:column;
   padding-top:15px;
   padding-left:2vw;
   width:47vw;
}

footer .footer-tile{
   padding: 10px;
}

footer .footer-tile p:last-child{
   margin-top: 10px;
   font:500 18px 'Quicksand', sans-serif;
}

footer a{
   font: 500 18px 'Quicksand', sans-serif;
}

/* Footer - thanks */

footer .thanks{
   writing-mode: vertical-rl; 
   transform: rotate(180deg);
   margin-right: 2vh;
   align-self: center;
   widows: 5vw;
}

footer .thanks p{
   font:300 22px'Caveat', cursive;
}

footer .thanks .favourite {
   display:inline-block;
   transform:scale(1, 0,7);
   font-size:1rem;
}


/* Project 1,2,3,4 - landing */

section .landingimage-container{
   width:100%;
   height: 100%;
   padding: 50px;
   background-color: var(--background-color);
}

section .landingimage{
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width:100%;
   height:100%;   
}

.landingimage4{
   background-image: url(./images/4others/4landing.jpg);
}

/* Project Others - gallery */

.projects-others .banner{
   margin-top:var(--margin-tiles);
}

article.gallery-container{
   margin-top:var(--margin-tiles);
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
}

.gallery-photo-container{
   max-width:1300px;
   background-color: var(--background-color);
   border: 1px solid var(--color-main);
   padding: 15px 15px 50px 15px;
   margin: 20px;
}

.architecture-photo{   
   width:25vw;
   min-width:300px;
   height:200px;
   flex-basis: 25vw;
  object-fit: cover;
  vertical-align: bottom;
}

/* Project Others - gallery - architecture */

