/* Reset */

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

/* Main style */

:root{
   --background-color:#F5F4F1;
   --color-main:#363636;
   --color-secondary-transparent: hsla(160,34%,70%,0.5);
   --color-secondary: #518F7A;
   --color-tertiary: #C4C4C4;
   --margin-tiles: 175px;
   --font-navbar:700 22px'Quicksand', sans-serif;
   --font-p:300 18px'Quicksand', sans-serif;
   --font-p-bold: 500 18px'Quicksand', sans-serif;
   --font-handwriting:400 30px 'Caveat', cursive;
   --border-box: 1px solid var(--color-main);
}

body {
   background-image: radial-gradient(var(--color-tertiary) 5%, var(--background-color) 5%);
   background-attachment: fixed;
    background-position: 0 0;
    background-size: 35px 35px;
 }

a, a:visited{
   text-decoration: none;
   color: var(--color-main);
}

ul{list-style-type: none}

h1{font:700 35px'Quicksand', sans-serif;}

h2{font:700 35px'Quicksand', sans-serif;}

h3{
   font:700 28px'Quicksand', sans-serif;
   line-height: 0.95em;
}

h4{font:700 22px'Quicksand', sans-serif;}

p{font:300 18px'Quicksand', sans-serif;}

/* Header */

header{
   background-color: var(--background-color);
   width:100%;
   height: 90px;
   padding-left: 2%;
   padding-right: 2%;
   position:fixed;
   display: flex;
   align-items: center; 
   border: 1px dotted var(--color-tertiary);
   z-index: 1;
}
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width:100%;
}

/* Header - Logo */

.navbar .logo{
   height: 45px; 
   cursor: pointer;
   transition: all 0.5s ease-in-out;
}

.navbar .logo:hover{
   height: 50px; 
   cursor: pointer;
}

/* Header - Menu */

.navbar .menu{display: flex;}

ul.menu a {
   cursor: pointer;
   height: 100%;
   display: flex;
   align-items: center;
   padding: 5px 20px;
   color: inherit;
   font: var(--font-navbar);
 }
 
 ul.menu li::after{
   content: "";
   border-bottom: solid 10px transparent;
   width:80%;
   margin: 0 auto;
   display: block;
   z-index: 2;
    transition: all 0.5s ease-in-out;
 }

ul.menu li:hover::after{
   border-bottom: solid 10px var(--color-main);
 }

 ul.menu li.current {
   color: var(--color-secondary);
 }

 ul.menu li.current::after {
   content: "";
   border-bottom: solid 10px var(--color-secondary-transparent);
   width:80%;
   margin: 0 auto;
   display: block;
   z-index: 2;
 }

/* Landing  */

section.landing{
   display:flex;
   justify-content: center;
   align-items: center;
   height:100vh;
   width:100%;
   padding-top:90px;
}

/* Footer */

footer{
   display:flex;
   justify-content:space-between;
   margin-top: var(--margin-tiles);
   height:200px;
   background-color: var(--background-color);
   border-top: 10px solid var(--color-secondary-transparent);
   outline: solid 1px var(--color-main);
   outline-offset: 15px;
}

.footer-container{
   display:flex;
   flex-direction:column;
   padding-top:15px;
   padding-left:2vw;
   width:47vw;
}

footer .footer-tile{
   padding: 10px;
}

footer .footer-tile p:last-child{
   margin-top: 10px;
   font:var(--font-p-bold);
}

footer a{
   font: var(--font-p-bold);
}

/* Footer - thanks */

footer .thanks{
   writing-mode: vertical-rl; 
   transform: rotate(180deg);
   margin-right: 2vh;
   align-self: center;
   width: 5vw;
}

footer .thanks p{
   font:300 22px'Caveat', cursive;
}

footer .thanks .favourite {
   display:inline-block;
   transform:scale(1, 0,7);
   font-size:1rem;
}

/* Landing - main page - email */

section.landing .email{
   writing-mode: vertical-lr; 
   transform: rotate(180deg);
   position: absolute;
   left: 2vh;
}

/* Landing - main page -welcome-container */

.welcome-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   margin-top:50px;
}

.welcome-box{
   background-color:var(--background-color);
   border: var(--border-box);
   outline: solid 10px var(--color-secondary-transparent);
   outline-offset: 25px;
   padding:50px;
   padding-top: 60px;
   width:375px;
   height:375px;
   display:flex;
   flex-direction:column;
   align-items:center; 
}

.welcome-box .hello{
   font:400 50px 'Caveat', cursive;
   margin-bottom: 50px;
}

.welcome-container p.signature{
   margin-top: 40px;
   font: var(--font-handwriting);
}

/* Animation - Hello */

.aboutme > p{
   white-space:nowrap; 
   overflow: hidden; 
}

.aboutme p:nth-child(1){
   animation: 
    typing 1.5s steps(30, end),
    blink-caret .5s 4;
    animation-fill-mode: forwards;
}

.aboutme p:nth-child(2){
   opacity: 0;
   animation: 
    typing 1.5s steps(30, end),
    blink-caret .5s 4;
     animation-delay:1.5s; 
     animation-fill-mode: forwards;
}

.aboutme p:nth-child(3){
   opacity: 0;
   animation: 
    typing 1.5s steps(40, end),
    blink-caret .5s 4;
   animation-delay:3s; 
   animation-fill-mode: forwards;
}

.aboutme p:nth-child(4){
   opacity: 0;
   animation: 
    typing 1.5s steps(40, end),
    blink-caret .5s 4;
   animation-delay:4.5s;  
   animation-fill-mode: forwards;
}

@keyframes typing {
   from { width: 0 ; opacity: 0;}
   1% { opacity: 1;}
   to { width: 100%;  opacity: 1; }
 }
 
 /* The typewriter cursor effect */

 @keyframes blink-caret {
   from, to { border-color: transparent }
   50% { border-right: 0.3em solid var(--color-main); }
   100% {border: none;}
 }

/* Banner */

.banner{
   width:100%;
   display:flex;
   justify-content: center;
   align-items: center;
}

.banner::before,
.banner::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--color-main);
}

.banner h2,h1{
   margin: 0 6vw;
   width: 500px;
   white-space: nowrap;
   text-align: center;
}

/* Projects - main page */

section.projects{
   display:flex;
   flex-direction:column;
   align-items: center;
}

.project-container{
   display:flex;
   margin-top:var(--margin-tiles);
}

.project .image-container{
   width:  500px;
   height: 500px;
   padding: 40px;
   background-color: var(--background-color);
   border: var(--border-box);
   margin-right: 40px;
   overflow: hidden;
}

/* Phototile- on hover */

.hover-phototile{
   position: relative;
   top:-100%;
   width: 100%;
   height: 100%;
   background-color: var(--background-color);
   display: flex;
   align-items:center;
   justify-content: center;
   background-image: radial-gradient(var(--color-tertiary) 10%, var(--background-color) 10%);
   background-attachment: fixed;
   background-position: 10px 5px;
   background-position:fixed;
   background-size: 35px 35px;
   opacity: 0;
   cursor: pointer;
   transition: opacity 0.7s;
}

.hover-phototile:hover{
   opacity: 1;	
}

.hover-phototile p{
   font: var(--font-handwriting);
   line-height: 0.9;
}

/* Project- container */

.project-container .description-container{
   display:flex;
   flex-direction:column;
   justify-content: space-between;
   width: 300px;
}

.project-container .description-container .txt-container{
   display:flex;
   flex-direction:column;
}

.project-container .description-container .underline{
   margin: 25px 0px 40px;
   height: 1px;
   background-color: var(--color-main);
   width: 100%;
}

.link-toproject:after{
   content:url("./images/arrow1.svg");
   width: 100%;
   display:block;
   text-align:center;
}

.link-toproject{
   margin-top:10px;
   text-align:left;
   width:100%;
   display:flex;
}

.link-toproject p{
   margin-right: 10px;
   white-space: nowrap;
   width:fit-content;
   font: var(--font-p-bold);
}

/* Projects - Photos - main page */

.image-container .phototile{
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width:100%;
   height:100%;  
}

.image-container .phototile1{
   background-image: url(./images/1tile.png);
}

.image-container .phototile2{
   background-image: url(./images/2tile.png);
}

.image-container .phototile3{
   background-image: url(./images/3tile.png);
}

.image-container .phototile4{
   background-image: url(./images/4others/4tile.jpg);
}

/* Others */

.banner-others{
   margin-top:var(--margin-tiles);
}

/* Others - landing */

section .landingimage-container{
   width:100%;
   height: 100%;
   padding: 50px;
   background-color: var(--background-color);
}

section .landingimage{
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width:100%;
   height:100%;   
}

.landingimage4{
   background-image: url(./images/4others/4landing.jpg);
}

/* Project Others - gallery */

.projects-others .banner{
   margin-top:var(--margin-tiles);
}

article.gallery-container{
   margin-top:var(--margin-tiles);
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
}

.gallery-photo-container{
   max-width:1200px;
   background-color: var(--background-color);
   border: var(--border-box);
   padding: 15px 15px 50px 15px;
   margin: 20px;
}

.gallery-photo{   
   width: 25vw;
   min-width: 300px;
   min-height: 100%;
   object-fit: cover;
}

/* About - landing */

.profilephoto-container{
   display:flex;
   justify-content: space-around;
   align-items:center;
   background-color:var(--background-color);
   border: var(--border-box);
   outline: solid 10px var(--color-secondary-transparent);
   outline-offset: 25px;
   padding:50px;
   height: 60vh; 
   max-width: 80vw;
   width:750px;
}

img.profilephoto{  
   object-fit: contain;
   width:auto;
   height:100%;
}

.profile-description{
   margin-left: 50px;
   display:flex;
   flex-direction:column;
   justify-content: space-around;
}

.profile-description p:first-child{
   font:var(--font-handwriting);
   margin-bottom: 20px;
}

/* About- my journey */

.experience .banner{
   margin-top: 100px;
}

.diagram-container{
   margin-top: var(--margin-tiles);
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-right: 2vw;
   margin-left: 2vw;
}

.timeline-container{
   display:flex;
   flex-direction:column;
   width:80vw;
   margin-bottom:50px;
   align-items: center;
}

.line-container{
   display:flex;
   width:100%;
   align-items:center;
   flex-direction:column;
}

.line-title{
white-space: nowrap;
font: var( --font-p-bold);
margin-top: 30px;
}

 .line{
   width:100%;
   height:5px;
   background-color:var(--color-secondary-transparent);
}

.event-container{
   display:flex;
}

.timeline-container > p , .event-container > p{
   font-size: 14px;
}

.timeline-container > p::after , .event-container > p::after{
   content: "";
   background-color: var(--color-secondary-transparent);
   height:1.5em;
   width:1.5em;
   margin: 0 auto;
   display: block;
   position:relative;
   top: 1em;
   z-index: 0.5;
   border-radius:50%;
}

/* Timelines-lines */

.line-web{
   margin-left: 30vw;
}

.line-ecommerce{
   margin-left: 20vw;
}

.line-uxdesign{
   margin-left: 10vw;
}

.line-arch{
   margin-right: 20vw;
}

.event-container > p{
   margin-left:3vw;
   position:relative;
   left: -20vw;
}

/* About - contact */

.contact .banner {
   margin-top:var(--margin-tiles);
}

section.contact{
   display:flex;
   flex-direction:column;
   align-items: center;
}

.form-container{
   background-color: var(--background-color);
   padding: 70px;
   margin-top: var(--margin-tiles);
   border: var(--border-box);
   display:flex;
   flex-direction:column;
   align-items: center;
   width:750px
}

.form-container:hover{
   border: 3px solid var(--color-secondary-transparent);
}


.form-container p{
   font: var(--font-handwriting);
   margin-bottom:40px;
}

.contact-form label{
   font:var(--font-p);
}

.contact-form textarea:focus, .contact-form input:focus{
   border-radius: 0px;
   border-color: var(--color-secondary-transparent);
   border-width: 2px;
   outline:none;
}

.contact-form input, .contact-form textarea{
   font:var(--font-p);
   margin-top:5px;
   margin-bottom: 30px;
   border:none;
   border-bottom: var(--border-box);
   background-color:transparent;
   width: 100%;
   height: 40px;
   padding:10px;
}

.contact-form textarea{
   height: 12rem;
  line-height: 1.5rem;
  resize: none;
}

#btn-submit{
   margin-top:15px;
   background-color:var(--color-secondary-transparent);
   width: 100%;
   border: var(--border-box);
   padding: 10px;
   font: var( --font-p-bold);
   line-height:0.95;
   cursor: pointer;
}


/* Projects - responsive */

@media (max-width: 950px) {

   :root{--margin-tiles: 150px;}

   /* Projects */

   .project-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     width:fit-content
   }

   .project .image-container{
      margin-right:0;
   }

   .project-container .description-container{
      width: 500px;
      margin-top: 40px;
   }

   .description-container h3{margin:0 auto;}

   .link-toproject{ margin-top: 20px;}

      /* About */

      section.landing-about{
         align-items: flex-start;
         height:100%;
      }

   .profilephoto-container{
      flex-direction:column;
      justify-content: center;
      width:80vw;
      width:500px;
      height:fit-content;
      margin-top:80px;
   }

   img.profilephoto{
     width: 300px; 
     height:auto;
     outline-offset: 10px;;
   }

   .profile-description{
      flex-direction: column;
      align-items: center;
      margin-left:0;
      margin-top:15px;
   }

   .form-container{
      padding: 50px;
      width:80vw;
   }
}

@media (max-width: 550px){

/* Main */

   body {background-size: 25px 25px;}

   :root{
      --margin-tiles: 50px;
      --font-p-bold: 400 16px'Quicksand', sans-serif;
      --font-p: 400 16px'Quicksand', sans-serif;
   }
      
      h1{font:700 28px'Quicksand', sans-serif;}
      
      h2{font:700 28px'Quicksand', sans-serif;}
      
      h3{
         font:700 24px'Quicksand', sans-serif;
         line-height: 0.95em;
      }
      
      h4{font:700 19px'Quicksand', sans-serif;}
      
      p{font:300 16px'Quicksand', sans-serif;}   

/* Footer */

      footer{
         flex-direction:column;
         align-items:center;
         justify-content: flex-start;
         height:fit-content;
         outline: none
      }
      
      .footer-container{
         align-items:center;
         padding-left:none;
      }
      
      .footer-tile{
         display:flex;
         flex-direction:column;
         align-items: center;
      }

      /* Footer - thanks */
 
      footer .thanks{
         writing-mode: horizontal; 
         transform: rotate(-90deg);
         margin-right: 0vh;
         width: fit-content;
         justify-content: flex-end;
         align-self:none;
         height:fit-content;
      }

      footer .thanks p{
         white-space: nowrap;
      }  

/* Header */

.navbar {
flex-direction:column;
}
   header{
      height: 90px;
      background-color:var(--background-color)
   }

   .navbar .logo{
       margin-top:5px;
      height: 25px; 
      margin-bottom:5px;
   }

   .navbar .menu a {
      padding: 0px 15px;
      font: 700 18px'Quicksand', sans-serif;
   }
 
   .navbar .logo:hover{
       height: 30px; 
      cursor: pointer;
    }

    ul.menu li::after{
      content: "";
      border-bottom: solid 5px transparent;
      width:80%;
      margin: 0 auto;
      display: block;
      z-index: 1;
       transition: all 0.5s ease-in-out;
    }

    ul.menu li:hover::after{
      border-bottom: solid 5px var(--color-main);
    }

   ul.menu li.current::after {
       border-bottom: solid 5px var(--color-secondary-transparent);}

/* Projects - Landing  */

section.landing{
   margin-top:0px;
   display:flex;
   justify-content: center;
   align-items: center;
   height:100vh;
   width:100vw;
   padding: 60px;
}

section.landing .email{display:none;}

section.landing .welcome-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   margin-top:90px;
}

section.landing .welcome-box{
   outline: solid 5px var(--color-secondary-transparent);
   outline-offset: 10px;
   padding:10px;
   padding-top: 20px;
   justify-content: center;
   max-width: 275px;
   max-height: 275px;
}

section.landing .welcome-container p.signature{
   margin-top: 10px;}

.welcome-box .hello{
   margin-bottom: 20px;
}

/* Projects - main page */

section.landing-project{
   height:100vh;
   margin-top:0px;
   padding-top:0px;
}

.project .image-container{
   width:  80vw;
   height: 80vw;
   padding: 20px;
   margin-right: 0px;
}

.project-container .description-container{
   margin-top:30px;
   width: 80vw;
}

.description-container h3{ 
   margin:0 auto;}

.project-container .description-container .underline{
   margin: 15px 0px 30px;}

.link-toproject p{
   font:500 18px'Quicksand', sans-serif;
   text-align:center;
}

.link-toproject:after{
   content:url("./images/arrow1.svg");
   width:100%;
   display:block;
   overflow: hidden;
}

.link-toproject{
   flex-direction: column;
   align-items:center;
}

/* Others */

section.landing-others{
   background-color: var(--background-color);
   padding:30px;
   max-height: 500px;
}

section .landingimage-container{
   width:100%;
   height: 100%;
   padding:0px;
   margin-top:90px;
}

section .landingimage{
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width:100%;
   height:100%;   
}

.gallery-photo-container{ width: 95vw;}

.gallery-photo{
   min-width:100%; 
   height:auto;
}

.parametric-h2{
   font-size:22px;
}

/* About */

section.landing-about{
   align-items: flex-start;
   height:100%;
}

.profilephoto-container{
   outline: solid 5px var(--color-secondary-transparent);
   outline-offset: 10px;
   padding:30px;
   height:100%;
   margin-top:80px;
}

img.profilephoto{
   width: 200px; 
   height:auto;
 }

.profile-description{
   flex-direction: column;
   align-items: center;
   margin-left:0;
   margin-top:15px;
}

.experience .banner{
   margin-top: 0px;
}

.form-container{
    padding: 20px;
   width:90vw;
   margin-bottom:20px ;
}

.contact-form input, .contact-form textarea{
   margin-bottom: 15px;
   background-color:transparent;
   width: 100%;
   padding:10px;
}

#btn-submit{
   margin-top:15px;
   background-color:var(--color-secondary-transparent);
   width: 100%;
   border: var(--border-box);
   padding: 10px;
   font: var( --font-p-bold);
   line-height:0.95;
}
}