/* Reset */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Main style */
//Colors
$color-background: #fbf7f4;
$color-main-dark: #0f6565;
$color-secondary-light: #c1e8db;
$color-secondary-dark: #0f6565;
$color-tertiary: #b64f2e;

//Media-queries
$media-query1: 1000px;
$media-query2: 550px;

//Common
%margin-tiles {
  margin-top: 80px;
  @media (max-width: $media-query1) and (min-width: $media-query2) {
    margin-top: 40px;
  }
  @media (max-width: $media-query2) {
    margin-top: 25px;
  }
}

%margin-tiles-line {
  margin-top: 160px;
  @media (max-width: $media-query1) and (min-width: $media-query2) {
    margin-top: 85px;
  }
  @media (max-width: $media-query2) {
    margin-top: 50px;
  }
}

$margin-screen: 240px;
$margin-tablet: 120px;
$margin-phone: 70px;

$border-box: 1px solid $color-main-dark;
$text-shadow: 3px 3px 0px $color-secondary-light;

//Font

$font-header: "Montserrat", sans-serif;
$font-body: "Quicksand", sans-serif;

%h1 {
  color: $color-main-dark;
  font: 500 35px $font-header;
  @media (max-width: $media-query2) {
    font: 500 27px $font-header;
  }
}

%h2 {
  color: $color-main-dark;
  font: 500 35px $font-header;
  @media (max-width: $media-query2) {
    font: 500 27px $font-header;
  }
}

%h3 {
  color: $color-main-dark;
  font: 500 28px $font-header;
  @media (max-width: $media-query2) {
    font: 500 23px $font-header;
  }
}

%h4 {
  color: $color-main-dark;
  font: 500 22px $font-header;
  @media (max-width: $media-query2) {
    font: 500 19px $font-header;
  }
}

%p {
  color: $color-main-dark;
  font: 300 18px $font-body;
  line-height: 1.5;
  @media (max-width: $media-query2) {
    font: 300 16px $font-body;
    line-height: 1.5;
  }
}

%font-navbar {
  color: $color-main-dark;
  font: 500 22px $font-header;
  @media (max-width: $media-query2) {
    font: 500 18px $font-header;
  }
}

%font-p {
  color: $color-main-dark;
  font: 300 18px $font-body;
  line-height: 1.5em;
  @media (max-width: $media-query2) {
    font: 300 16px $font-body;
  }
}

%font-pbold {
  color: $color-main-dark;
  font: 500 18px $font-body;
  @media (max-width: $media-query2) {
    font: 500 16px $font-body;
  }
}

%font-small {
  color: $color-main-dark;
  font: 300 14px $font-body;
  @media (max-width: $media-query2) {
    font: 300 12px $font-body;
  }
}

$font-handwriting: 400 30px "Caveat", cursive;

body {
  width: 100%;
  background-image: radial-gradient(
    $color-secondary-light 6%,
    $color-background 6%
  );
  background-attachment: fixed;
  background-position: 0 0;
  background-size: 25px 25px;

  @media (max-width: $media-query2) {
    background-size: 20px 20px;
    background-image: radial-gradient(
      $color-secondary-light 6%,
      $color-background 6%
    );
  }
}

a,
a:visited {
  text-decoration: none;
  color: $color-main-dark;
}

ul {
  list-style-type: none;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

p {
  @extend %p;
}

/* Header */

header {
  width: 100%;
  height: 100px;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  align-items: center;
  z-index: 5;
  justify-content: center;

  @media (max-width: $media-query2) {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 5;

  @media (max-width: $media-query2) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Header - Logo */

.navbar .logo {
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  text-shadow: $text-shadow;
  z-index: 5;

  @media (max-width: $media-query2) {
    margin-top: 5px;
    height: 25px;
    margin-bottom: 5px;
    margin-right: 10px;
  }
}

.navbar .logo:hover {
  height: 50px;
  cursor: pointer;

  @media (max-width: $media-query2) {
    height: 30px;
  }
}

/* Header - Menu */

.navbar .menu {
  display: flex;

  @media (max-width: $media-query2) {
    justify-content: space-between;
  }
}

ul.menu a {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-left: 2.5vw;
  color: $color-main-dark;
  @extend %font-navbar;
  //border: 1px solid $color-secondary-dark;
  position: relative;
  transform: translateZ(0);
  transition: all 1200ms;
  //background-color: $color-background;

  @media (max-width: $media-query1) and (min-width: $media-query2) {
    padding: 10px 12px;
  }
  @media (max-width: $media-query2) {
    padding: 10px 2vw;
    margin-left: 2vw;
  }
}

ul.menu a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //background-color: $color-secondary-light;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition: 500ms ease-in;
  border: 1px solid $color-secondary-dark;
}

ul.menu a:hover::before {
  transform: scaleX(1);
}

ul.menu li:first-child a {
  margin-left: 0px;
}

ul.menu li.current a {
  text-shadow: $text-shadow;
}

/* Landing  */

section.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  width: 100%;

  @media (max-width: $media-query1) {
    margin-top: 0px;
    height: 90vh;
    width: 100vw;
    padding: 0;
  }

  @media (max-width: $media-query2) {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    padding: 0px;
  }
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $color-background;
  border-top: 1px solid $color-secondary-dark;
  align-items: center;
  margin-top: $margin-screen;
  padding-bottom: 30px;

  @media (max-width: $media-query1) {
    margin-top: $margin-tablet;
    width: 100%;
  }
  @media (max-width: $media-query2) {
    margin-top: $margin-phone;
    width: 100%;
  }
}

footer::before {
  content: "";
  border-top: solid 10px transparent;
  width: 100%;
  display: block;
  z-index: 2;
  background-color: $color-secondary-light;
  position: relative;
  top: -20px;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;

  @media (max-width: $media-query1) {
    justify-content: flex-start;
  }

  @media (max-width: $media-query2) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    outline: none;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 2vw;
  width: 47vw;
  @media (max-width: $media-query1) {
    padding-left: none;
    width: 35vw;
  }
  @media (max-width: $media-query2) {
    align-items: center;
    padding-left: none;
  }
}

footer .footer-tile {
  padding: 10px;

  @media (max-width: $media-query2) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

footer .footer-tile p:last-child {
  margin-top: 10px;
  @extend %font-pbold;
}

footer a {
  @extend %font-pbold;
}

footer p {
  @media (max-width: $media-query2) {
    text-align: center;
  }
}

/* Footer - thanks */

footer .thanks {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-right: 1vw;
  align-self: center;
  width: 3vw;

  @media (max-width: $media-query1) {
    right: 5px;
    position: absolute;
  }
  @media (max-width: $media-query2) {
    position: static;
    writing-mode: horizontal;
    transform: rotate(-90deg);
    margin-right: 0vh;
    width: fit-content;
    justify-content: flex-end;
    align-self: none;
    height: fit-content;
  }
}

footer .thanks p {
  font: 300 18px "Caveat", cursive;
  @media (max-width: $media-query2) {
  }
}

footer .thanks .favourite {
  display: inline-block;
  transform: scale(1, 0, 7);
  font-size: 1rem;
  overflow: hidden;
}

/* Landing - main page - email */

section.landing .email {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: absolute;
  left: 2vh;

  @media (max-width: $media-query2) {
    display: none;
  }
}

/* Landing - main page -welcome-container */

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;

  @media (max-width: $media-query1) {
    margin-top: 50px;
  }

  @media (max-width: $media-query2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
  }
}

.welcome-box {
  border: $border-box;
  outline: solid 10px $color-secondary-light;
  outline-offset: 20px;
  padding: 40px;
  padding-top: 50px;
  width: 325px;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform-origin: 50% 50%;

  @media (max-width: $media-query2) {
    outline: solid 5px $color-secondary-light;
    outline-offset: 10px;
    padding: 10px;
    padding-top: 20px;
    justify-content: center;
    max-width: 275px;
    max-height: 275px;
  }
}

.anim {
  opacity: 0;
}

@keyframes anim1 {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.welcome-box .hello {
  font: 400 50px "Caveat", cursive;
  margin-bottom: 40px;

  @media (max-width: $media-query2) {
    margin-bottom: 20px;
  }
}

.welcome-container p.signature {
  margin-top: 40px;
  font: $font-handwriting;

  @media (max-width: $media-query2) {
    margin-top: 10px;
  }
}

/* Animation - Hello */

.aboutme > p {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.aboutme p:nth-child(1) {
  animation: typing 1.5s steps(30, end), blink-caret 0.5s 4;
  animation-fill-mode: forwards;
}

.aboutme p:nth-child(2) {
  opacity: 0;
  animation: typing 1.5s steps(30, end), blink-caret 0.5s 4;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.aboutme p:nth-child(3) {
  opacity: 0;
  animation: typing 1.5s steps(40, end), blink-caret 0.5s 4;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.aboutme p:nth-child(4) {
  opacity: 0;
  animation: typing 1.5s steps(40, end), blink-caret 0.5s 4;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-right: 0.3em solid $color-main-dark;
  }
  100% {
    border: none;
  }
}

/* Banner */

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner::before,
.banner::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: $color-main-dark;
}

.banner h2,
h1 {
  margin: 0 6vw;
  width: 600px;
  white-space: nowrap;
  text-align: center;
}

/* Projects - main page */

section.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;

  @media (max-width: $media-query1) {
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
  }
  @media (max-width: $media-query1) {
  }
}

//Each project

article.project {
  @extend %margin-tiles;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-wrap: wrap;

  @media (max-width: $media-query1) {
    justify-content: center;
  }
}

.project-container {
  display: flex;
  width: 70%;
  height: 100%;
  position: relative;

  @media (max-width: $media-query1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }
  @media (max-width: $media-query2) {
    width: 100%;
    height: 100%;
  }
}

//Images

.project-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  width: 100%;
  transition: 1000ms steps(7, end);
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $media-query1) {
    min-height: 100%;
    width: 90vw;
    height: 300px;
    margin-right: 0;
    padding: 18px;
  }

  @media (max-width: $media-query2) {
    width: 90vw;
    max-height: 90vh;
    padding: 7px;
  }
}

.project1 .project-image {
  background-image: url("../static/assets/images/1/1.png");
}

.project2 .project-image {
  background-image: url("../static/assets/images/2/1.png");
  padding: 50px 0px;

  @media (max-width: $media-query1) {
    padding: 35px;
  }
}

.project3 .project-image {
  background-image: url("../static/assets/images/3/1.png");
}

.project4 .project-image {
  background-image: url("../static/assets/images/4/1.png");
  padding: 50px 0px;

  @media (max-width: $media-query1) {
    padding: 35px;
  }
}

//Gif

.gif {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.gif1,
.gif3 {
  margin: 8% 9%;

  @media (max-width: $media-query2) {
    margin: 3% 7%;
  }
}

.gif1 {
  background-image: url("../static/assets/images/1/1.gif");
}
.gif2 {
  background-image: url("../static/assets/images/2/1.gif");
}
.gif3 {
  background-image: url("../static/assets/images/3/1.gif");
}
.gif4 {
  background-image: url("../static/assets/images/4/1.gif");
}

//Slider

@keyframes progressBar {
  0% {
    width: 10px;
  }
  100% {
    width: 300px;
  }
}

.slider {
  margin: 0 auto;
  display: flex;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 20px);
  transform: translate(-50%, -50%);
  height: 10px;
  width: 30px;
  margin: 10px 5px 0px 5px;
  background-color: $color-secondary-light;
  border: 1px solid $color-secondary-dark;

  @media (max-width: $media-query1) {
    left: 50%;
  }
}

.slider1 {
  animation: progressBar 13.5s ease-in-out infinite alternate forwards;
}

.slider2 {
  animation: progressBar 18s ease-in-out infinite alternate forwards;
}

.slider3 {
  animation: progressBar 4.5s ease-in-out infinite alternate forwards;
}

/* Project- text */

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  min-height: 500px;

  @media (max-width: $media-query1) {
    min-width: 450px;
    align-items: center;
    min-height: 100%;
  }

  @media (max-width: $media-query2) {
    min-width: 100%;
    margin-top: 40px;
  }
}

.txt-container {
  display: flex;
  flex-direction: column;
}

.txt-container h3 {
  margin-bottom: 20px;
  text-shadow: $text-shadow;

  @media (max-width: $media-query1) {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 35px;
    text-align: center;
  }
  @media (max-width: $media-query2) {
    margin-top: 0px;
  }
}

p.project-description {
  margin-bottom: 20px;
  @media (max-width: $media-query1) {
    max-width: 100%;
  }
  @media (max-width: $media-query2) {
    line-height: 1.5;
  }
}

.roles {
  display: flex;
  flex-wrap: wrap;
}

.roles > :last-child {
  margin-right: 0px;
}

.role {
  @extend %font-small;
  color: $color-secondary-dark;
  border: 1px solid $color-secondary-light;
  margin-bottom: 10px;
  padding: 0px 15px;
  height: 35px;
  width: fit-content;
  margin-right: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}

//Link arrow

.link-toproject {
  margin-top: 10px;
  width: 100%;
  border: $border-box;
  height: 45px;
  padding: 0px 20px;
  background-color: $color-background;
  align-self: flex-start;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @extend %font-p;
  position: relative;
  transform: translateZ(0);
  transition: all 1200ms;

  @media (max-width: $media-query1) {
    margin-top: 20px;
    max-width: 450px;
    align-self: center;
  }
  @media (max-width: $media-query2) {
    width: 100%;
  }
}

.link-toproject::before {
  content: "";
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-secondary-light;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition: 700ms ease-in;
}

.link-toproject:hover::before {
  transform: scaleX(1);
}

.link-toproject p {
  white-space: nowrap;
  @extend %font-pbold;
  text-align: center;
}

.link-toproject .iconify {
  background-image: url("../static/assets/svg/Arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 15px;
}

// Linia oddzielająca

article.project1::after,
article.project2::after,
article.project3::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: $color-main-dark;
  display: block;
  @extend %margin-tiles-line;
  position: relative;
}

article.project1 {
  margin-top: $margin-screen;

  @media (max-width: $media-query1) {
    margin-top: $margin-tablet;
  }
  @media (max-width: $media-query2) {
    margin-top: $margin-phone;
  }
}

/* Others */

section.projects-others {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.projects-others .image-container {
  width: 1200px;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  @extend %margin-tiles;
  margin-bottom: 50px;

  @media (max-width: $media-query1) {
    margin-right: 0;
    width: 90vw;
    height: 90vw;
  }
}

/* Project Others - gallery */

section.projects-others .project-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  transition: 1000ms steps(7, end);
}

.projectOthers1 .project-image {
  background-image: url("../static/assets/images/Others1/1.gif");
}

.projectOthers2 .project-image {
  background-image: url("../static/assets/images/Others2/1.gif");
}

.projectOthers3 .project-image {
  background-image: url("../static/assets/images/Others3/1.gif");
}

.projects-others .banner {
  @extend %margin-tiles;
}

/* About - landing */

.profilephoto-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  height: 500px;
  width: 750px;

  @media (max-width: $media-query1) {
    padding: 30px;
    justify-content: center;
    height: 600px;
  }

  @media (max-width: $media-query2) {
    padding: 20px;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}

.profilephoto {
  background-image: url("../static/assets/images/profile.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 100%;
  position: relative;

  @media (max-width: $media-query1) {
    width: 200px;
  }

  @media (max-width: $media-query2) {
    width: 200px;
    height: 60vh;
  }
}

.profile-description {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;

  @media (max-width: $media-query1) {
    flex-direction: column;
    margin-left: 0;
    margin-top: 15px;
    margin-left: 20px;
  }

  @media (max-width: $media-query2) {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
}

.profile-description p:first-child {
  font: $font-handwriting;
  font-size: 40px;
  margin-bottom: 30px;
  text-shadow: $text-shadow;

  @media (max-width: $media-query2) {
    margin-bottom: 15px;
  }
}

.profile-description p:last-child {
  @media (max-width: $media-query2) {
    text-align: center;
  }
}

/* About - Career path */

section.education {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.path {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: $margin-phone;
  margin-right: 50px;
  margin-left: 50px;

  @media (max-width: $media-query1) {
    width: 70vw;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.txt-container-path h3 {
  text-align: center;
  text-shadow: $text-shadow;
  margin-bottom: 30px;
}

.project-description-path {
  text-align: center;
  margin-bottom: 30px;
}

.path .roles {
  display: flex;
  justify-content: center;
}

.path-image {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.path-image.ux {
  background-image: url("../static/assets/images/About/1.png");
}

.path-image.e-commerce {
  background-image: url("../static/assets/images/About/2.png");
}

.path-image.web-development {
  background-image: url("../static/assets/images/About/3.png");
}

.path-image.architecture {
  background-image: url("../static/assets/images/About/4.png");
}

//Pages- BOHO

.background-landing {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
  position: absolute;
  top: 0;
}

.boho-landing {
  background-image: url("../static/assets/images/1/2.png");
}

.project-wrapper {
  max-width: 1200px;
  background: $color-background;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;

  @media (max-width: $media-query2) {
    padding: 0 20px;
  }

  .banner h3 {
    margin: 0 6vw;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
  }

  article {
    margin-top: 60px;
    margin-bottom: 120px;

    .article-description {
      max-width: 500px;
    }
  }
}

.whathowwhenwhy {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  .link-toproject {
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;

    @media (max-width: 600px) {
      width:100%;
    }
  }
}

.what-container {
  width: 21%;
  padding: 10px;
  margin: 10px 10px;

  :first-child {
    font-weight: bold;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.persona {
  border: $border-box;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom:30px;

  @media (max-width: $media-query1) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $media-query2) {
    padding: 15px;
  }
  p {
    font-size: 15px;
  }

  h4{
    font-size:18px;
  }

  .persona-about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 750px) {
      flex-direction: column;
      text-align: center;

      p{
        text-align: left;
      }
    }

    .persona-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 200px;
      height: 200px;
    }

    .persona-about-txt{
      width: calc(97% - 200px);

      @media (max-width: 750px) {
        width:100%;
      }

      h3{
        margin-bottom:20px;
      }

      h4{
        margin-bottom: 15px;
      }
    }
  }

  .persona-section {
    margin-top: 20px;
    width: 48%;

    @media (max-width: $media-query1) {
      width: 100%;
    }

    :first-child {
      margin-bottom: 15px;
    }
  }
}

//Boho
.persona-boho-1 {
  background-image: url("../static/assets/images/1/persona1.jpg");
}

.persona-boho-2 {
  background-image: url("../static/assets/images/1/persona2.jpg");
}
